<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="script">
    <script type="text/javascript" src="/assets/jquery/jquery-v3.6.0.min.js"></script>
    <script type="text/javascript" src="/assets/jquery/jquery.validate-v1.19.5.min.js"></script>
    <script type="text/javascript" src="/assets/sweetalert/v2/sweetalert2.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/v5.2.2/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/js/popper-v1.16.0.min.js"></script>
    <script type="text/javascript" src="/assets/izitoast/v1.4.0/iziToast-1.4.0.js"></script>

    <script src="/assets/js/app.js"></script>
</th:block>
